body {
    background-color: #2F3035;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: center;
}

nav {   
    background-color: rgba(109, 101, 106, 0.301);
    height: 40px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

header {
    height: 100px;
    width: 10px;
}